<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bookmark_type.name %>
</p>

<%= link_to 'Edit', edit_bookmark_type_path(@bookmark_type) %> |
<%= link_to 'Back', bookmark_types_path %>
