<p id="notice"><%= notice %></p>

<h1>Bookmarks</h1>

<div id="form-container" class="container">
</div>
<div class="container">
  <%= link_to 'New Bookmark', new_bookmark_path, remote: true, id: 'new-bookmark-link' %>
  <a id="cancel-link" class="cancel-link hidden">Cancel</a>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Bookmark type</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="bookmarks-table">
    <%= render @bookmarks %>
  </tbody>
</table>
