<h1>Bookmark manager</h1>
<p> <%= link_to 'Bookmarks', bookmarks_path %> </p>
<p> <%= link_to 'Categories', categories_path %> </p>
<p> <%= link_to 'Types', bookmark_types_path %> </p>

<h2>Category overview</h2>
TODO
